h1 {
    color: cyan;
    text-align: center;
    position: relative;
  left: 275px;
  }
  
  h2 {
    color: cyan;
    text-align: center;
    position: relative;
  left: 275px;
    
  }
  
  h3 {
    color: cyan;
    text-align: center;
    position: relative;
  left: 275px;
  }